
body {
    display: flex;
    flex-direction: column;

    background-color: darkgreen;
}

#title {
    text-align: center;
    font-weight: bold;
}

#container {
    display: flex;
    justify-content: center;
    column-gap: 100px;
}

#panel {

}

#money {

}

#gameboard {

}

#playersHand {

}

#dealersHand {
    
}